$background: #26292c;
$background-transparent: rgba(33, 33, 33, 0.75);
$background-secondary: #443737;
$text: #ffffff;
$text-alt: #818a91;
$border: #5a5a5a;
$primary: #ff8f00;
$primary-offset: #ffbf6d;
$secondary: #3282b8;
$header-border: #55595c;

// Light theme for later
// $bg-color: #fff;
// $bg-color-semitransparent: rgba(255, 255, 255, 0.85);
// $bg-color-secondary: #f7f7f9;
// $text-color: #373a3c;
// $text-color-secondary: #818a91;
// $border-color: #eceeef;
// $brand-color-primary: #fc6767;
// $brand-color-primary-offset: #fb4949;
// $brand-color-secondary: #43a9a3;
// $header-border-color: #373a3c;
