.talk-list {
  margin-top: var(--spacing-xlarge);
  padding-top: var(--spacing-large);
  border-top: var(--border-single);
  width: 100%;

  h6 {
    color: var(--color-text-alt);
  }

  a {
    padding: var(--spacing-large) 0;
    display: block;

    &:link {
      color: var(--color-text);
      border: 0;
    }

    &:visited {
      color: var(--color-text-alt);
    }

    &:hover {
      color: var(--color-primary-offset);

      h3 {
        color: var(--color-primary);
      }

      h6 {
        color: var(--color-primary-offset);
      }
    }
  }
}
