.skip {
  display: block;
  padding: var(--spacing-medium);
  text-align: center;
  font-weight: bold;
  border: 2px dashed;

  &:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    overflow: hidden;
  }
}

main {
  &.fixed {
    padding: var(--spacing-large) 0;
  }
}
