.article {
  width: 100%;

  img {
    width: 50%;
    margin: 10px auto;
    display: block;

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  &-subheader {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-medium);
  }

  &-date {
    font-size: var(--font-size-large);
  }
}
