a {
  text-decoration: none;
  border-bottom: $border-single;

  &:link {
    color: $primary;
  }

  &:visited {
    color: $primary-offset;
  }

  &:hover,
  &:visited:hover,
  &:focus {
    color: $primary-offset;
  }

  &:active {
    position: relative;
    top: 1px;
    z-index: 1;
  }
}
