@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size);
  line-height: var(--line-height-body);
  letter-spacing: 0.01em;
  margin: var(--spacing-large);
  font-family: var(--font-family), var(--font-family-system);

  @supports (font-variation-settings: normal) {
    font-family: var(--font-family-variation), var(--font-family-system);
  }

  @media (min-width: 50em) {
    font-size: calc(var(--font-size) * 1.1);
  }

  @media (min-width: 62.5em) {
    font-size: calc(var(--font-size) * 1.2);
  }
}
