code,
kbd {
  padding-block-start: 0.2em;
  padding-block-end: 0.2em;
  padding-inline-start: 0.4em;
  padding-inline-end: 0.4em;
  font-size: var(--font-size-small);
}

code {
  word-wrap: break-word;
  letter-spacing: 0.02em;
  vertical-align: baseline;
  font-style: normal;
  background-color: var(--color-background-transparent);
  padding: var(--spacing-small) var(--spacing-medium);
}

pre code {
  display: block;
  max-height: 80vh;
  margin: 0;
  padding-block-start: var(--paragraph-spacing);
  padding-block-end: var(--paragraph-spacing);
  padding-inline-start: var(--paragraph-indent);
  padding-inline-end: var(--paragraph-indent);
  overflow: auto;
  text-align: left;
  white-space: inherit;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  border-left: 4px solid var(--color-background-transparent);
}
