@import 'config/colors';
@import 'config/typography';
@import 'config/borders';

@import 'mixins/respond-to';

@import 'icons/terminal';

@import 'reset';
@import 'headings';
@import 'text';
@import 'lists';
@import 'links';

body {
  background-color: $background;
  color: $text;
  font-size: $font-size;
  line-height: $line-height-body;
  letter-spacing: 0.01em;
  margin: 1.5em;
  font-family: $font-family, $font-family-system;

  @supports (font-variation-settings: normal) {
    font-family: $font-family-variation, $font-family-system;
  }

  @include respond-to(medium) {
    font-size: calc(#{$font-size} * 1.1);
  }

  @include respond-to(large) {
    font-size: calc(#{$font-size} * 1.2);
  }

  > a {
    display: block;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    border: 2px dashed;

    &:not(:focus) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      white-space: nowrap;
      border: 0;
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      overflow: hidden;
    }
  }
}

nav {
  padding-bottom: 1.5em;
}

.logo {
  display: flex;
  align-items: center;
  font-size: $font-size-medium;
  color: $text;
  border: none;

  i {
    color: $text;
  }

  h2 {
    font-weight: lighter;
    text-transform: lowercase;
    white-space: pre-line;
    line-height: calc(#{$line-height-body} / 2);
    margin: 0 0 0 0.4em;
  }
}
