a {
  text-decoration: none;
  border-bottom: var(--border-single);

  &:link {
    color: var(--color-primary);
  }

  &:visited {
    color: var(--color-primary-offset);
  }

  &:active {
    position: relative;
    top: 1px;
    z-index: 1;
  }

  &:hover,
  &:focus,
  &:visited:hover {
    color: var(--color-primary-offset);
  }
}
