*,
*::before,
*::after {
  box-sizing: border-box;
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}
