table {
  margin: var(--paragraph-indent) 0;
  width: 100%;
  table-layout: fixed;
  font-size: var(--font-size-small);
}

tbody tr:hover {
  background-color: var(--color-background-transparent);
}

th {
  -webkit-padding-before: 0;
  padding-block-start: 0;
  white-space: nowrap;
  font-weight: bold;
}

th,
td {
  padding-block-start: var(--paragraph-spacing);
  padding-block-end: var(--paragraph-spacing);
  padding-inline-start: var(--paragraph-indent);
  padding-inline-end: var(--paragraph-indent);
  text-align: start;
  vertical-align: baseline;
  border-bottom: var(--border-single);

  &:first-child {
    white-space: nowrap;
  }
}
