@import '../../styles/vendor/prismjs';
@import '../../styles/variables';

.article {
  margin: 30px;
  max-width: 800px;
}

article {
  header {
    span {
      font-size: 14px;
      margin: 0 8px 8px 0;
      background-color: $clouds;
      user-select: none;

      @media (prefers-color-scheme: dark) {
        background-color: $gray;
      }
    }
  }
  footer {
    font-size: 14px;
    border-top: 1px solid $concrete;
  }
}

blockquote{
  font-weight: 300;
  padding: 30px;
  margin: 0;
  position: relative;
  background-color: $clouds;

  @media (prefers-color-scheme: dark) {
    background-color: $gray;
  }

  p {
    margin: 0;
  }

  &::before{
    font-family: Arial;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: 0px;
  }
}