.navigation {
  margin-bottom: var(--spacing-large);
  padding-bottom: var(--spacing-large);
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-single);

  > a {
    border: 0;
    padding: var(--spacing-medium);
  }

  .logo {
    display: flex;
    flex: 1 auto;
    align-items: center;
    font-size: var(--font-size-large);
    color: var(--color-text);
    border: none;
    padding: 0;

    i {
      color: var(--color-text);
      margin-top: var(--spacing-small);
    }

    h2 {
      font-weight: lighter;
      text-transform: lowercase;
      white-space: pre-line;
      line-height: calc(var(--line-height-body) / 2);
      margin: 0 0 0 var(--spacing-small);
    }
  }
}
