nav {
  padding-bottom: 1.5em;
}

.logo {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
  color: var(--color-text);
  border: none;

  i {
    color: var(--color-text);
  }

  h2 {
    font-weight: lighter;
    text-transform: lowercase;
    white-space: pre-line;
    line-height: calc(var(--line-height-body) / 2);
    margin: 0 0 0 0.4em;
  }
}
