.job-list {
  margin-top: var(--spacing-xlarge);
  padding-top: var(--spacing-large);
  border-top: var(--border-single);
  width: 100%;

  h2 {
    font-size: var(--font-size-large);
    margin: 0 0 var(--spacing-small) 0;

    @media (min-width: 50em) {
      font-size: calc(var(--font-size-large) * 1.17);
    }

    @media (min-width: 62.5em) {
      font-size: calc(var(--font-size-large) * 1.5);
    }
  }

  h3 {
    font-size: var(--font-size-medium);

    @media (min-width: 50em) {
      font-size: calc(var(--font-size-medium) * 1.1);
    }

    @media (min-width: 62.5em) {
      font-size: calc(var(--font-size-medium) * 1.4);
    }
  }

  .job-type {
    display: block;
  }

  .extra-info {
    color: var(--color-text-alt);
    margin: 0;
  }

  div {
    padding: var(--spacing-large) 0;
    display: block;
  }

  blockquote {
    background: var(--color-background-transparent);
    border-left: var(--border-large);
    padding: var(--paragraph-spacing);

    p {
      display: inline;
    }
  }
}
