footer {
  border-top: var(--border-double);
  margin-top: var(--spacing-large);
  padding: var(--spacing-large) 0;
  display: flex;
  font-size: var(--font-size-small);

  &.fixed {
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--spacing-xlarge));
  }

  div {
    flex: 1 auto;
  }
}
