@import '../../node_modules/normalize.scss/normalize';
@import '../styles/variables';
@import '../styles/vendor/nprogress';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $carrot;

  &:visited {
    color: $carrot;
  }
}

p {
  white-space: pre-line;
}
