@import '../../node_modules/normalize.scss/normalize';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $carrot;
  padding-bottom: 2px;
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, lighten($carrot, 5%) 0%, lighten($carrot, 5%) 98%);
  background-size: 0px 2px;
  background-repeat: no-repeat;
  background-position: left 85%;
  display: inline;
  transition: all .3s;

  &:visited {
    color: $carrot;
  }

  &:hover{
    background-size:100% 2px;
  }
}

p {
  white-space: pre-line;
}
